/* Regular */
@import url("https://use.typekit.net/iif6grh.css");
/* font-family: upgrade, sans-serif;
font-weight: 300;
font-style: normal; */

/* Bold */
@import url("https://use.typekit.net/iif6grh.css");
/* font-family: upgrade, sans-serif;
font-weight: 600;
font-style: normal; */




header{
    height: 65px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

}

footer{
    height: 65px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10vh;
}

footer p{
    margin-top: 20px;
    font-weight: 600;
    font-size: 13px;
}

.hero--title{
    text-align: center;
    font-family: upgrade, sans-serif;
    font-weight: 600;
    font-style: normal;
}



.logo{ 
    font-family: upgrade, sans-serif;
    font-weight: 600;
    font-style: normal;   
    margin-top: 20px;
}

.logo a:hover{
    text-decoration: none;
}

.hero--title--span{
    background-color:black;
    color:white;
    padding: 14px 16px
}

.space-down{
    margin-top: 30px;
}


.centered{
    font-family: upgrade, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    background: #8a2387; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 25px 25px;
}


.hero--title--centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 10px 10px;

}

.hero--header {
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 350px;
}

.border-right{
    border-right: 2px solid lightgray !important;
}

ul.breadcrumb {
    padding: 2px 0px;
    list-style: none;
    background-color: white;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 14px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .docu--main p, li, ol{
    font-family: upgrade, sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .docu--main h2,h3{
    font-family: upgrade, sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
 
    padding: 16px;
    transition: all 0.3s ease;
    color: black;
    font-size: 15px;
  }

  .icon-bar a:hover{
      text-decoration: none;
  }
  
  .icon-bar a:hover {
    background-color: #000;
    color: white;
  }
  
 .github{
     color: white;
     background-color:white;
 }
  