/* Regular */
@import url("https://use.typekit.net/iif6grh.css");
/* font-family: upgrade, sans-serif;
font-weight: 300;
font-style: normal; */

/* Bold */
@import url("https://use.typekit.net/iif6grh.css");
/* font-family: upgrade, sans-serif;
font-weight: 600;
font-style: normal; */



html{
  scroll-behavior: smooth
}

header{
    height: 65px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

}

footer{
    height: 65px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10vh;
}

footer p{
    margin-top: 20px;
    font-weight: 600;
    font-size: 13px;
}

.hero--title{
    text-align: center;
    font-family: upgrade, sans-serif;
    font-weight: 600;
    font-style: normal;
}



.logo{ 
    font-family: upgrade, sans-serif;
    font-weight: 600;
    font-style: normal;   
    margin-top: 20px;
    transition: 0.3s;
    opacity: 1;
}

.logo a:hover{
    text-decoration: none;
}

.logo:hover{
  opacity: 0.8;
}

.hero--title--span{
    background-color:black;
    color:white;
    padding: 14px 16px
}

.space-down{
    margin-top: 30px;
}


.centered{
    font-family: upgrade, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    background: #b1cbbb;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
    color: white;
    padding: 25px 25px;
    opacity: 1;
    transition: 0.3s;
}

.centered:hover{
  opacity: 0.7;
}

.col-md-6{
  padding-left: 1px;
  padding-right: 1px;
}


.hero--title--centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 10px 10px;

}

.index_btn{
  color: white;
}

.index_btn:hover{
  text-decoration: none;
}

.hero--header {
  background:#b1cbbb;
  height: 350px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.border-right{
    border-right: 2px solid lightgray !important;
}

ul.breadcrumb {
    padding: 2px 0px;
    list-style: none;
    background-color: white;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 14px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: black;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: black;
    text-decoration: underline;
  }

  .docu--main p, li, ol{
    font-family: upgrade, sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .docu--main h2,h3, h4{
    font-family: upgrade, sans-serif;
    font-weight: 600;
    font-style: normal;
  }



  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
 
    padding: 16px;
    transition: all 0.3s ease;
    color: black;
    font-size: 15px;
  }

  .icon-bar a:hover{
      text-decoration: none;
  }
  
  .icon-bar a:hover {
    background-color: #000;
    color: white;
  }
  
 .github{
     color: white;
     background-color:white;
 }
  
 td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.thicc{
  font-weight: 700;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 600px) {
 .icon-bar{
   display: none;
 }
}

.docu-inhoud li, a{
  color: black;
}

.docu-inhoud li, a:hover{
  color: black;
}

.docu_inhoud_main{
  background: #F0F0F0;
  padding: 15px;
  margin-bottom: 20px;
}

.col-md-2{
  padding: 0;
}

